#inbox
  .msg
    background-color: #F5F5F5
    border-bottom: 1px solid #e8e8e8
    padding: 5px 20px
    cursor: pointer
    font-size: 12px

    &.unread
      background-color: #FEFEFE
      font-weight: bold

    .author
      display: inline-block
      width: 200px

    .date
      position: absolute
      display: inline-block
      right: 40px

  .msg-detail
    .subject
      font-size: 20px
      border-bottom: 1px solid

    .author
      display: inline-block

    .date
      display: inline-block
      position: absolute
      right: 40px

    button
      position: absolute
      right: 40px
      top: -20px
